#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBox{
  width: 600px;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
  box-shadow: 4px 20px 20px hsl(0, 0%, 100%, 40%);
  text-align: right;
  text-shadow: 1px 1px black; 

}

.cardBox.animation{
  max-height:183px;
  animation-name: nextCard;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(0.1, 1, 0.1);
  overflow: hidden;
}

@keyframes nextCard {
  0% {width: 600px;}
  50% {width: 110px;}
  100% {width: 600px;}
}

.cardBox .header{
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.cardBox .header .icon svg{
  height: 80px;
  width: 80px;
  margin-left: 1em;
}
.cardBox .header .quote{
  padding: 1rem 0rem;
}

.cardBox .btn{
  width: 50px;
  height: 50px;
  margin-top: 0.8rem;
  padding: 0;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  align-self: flex-end;
}
.cardBox .btn:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 10px #00000099;
}